body {
            color: white;
            background-color: brown;
        }
        h1{
            color :yellow
        }
        p{
            color: green;
            font-size: 18px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }